
.cardImage {grid-area: cardImage;}
.cardContent {grid-area: cardContent;}
.cardOptions {grid-area: cardOptions;}
.cardAdditional {grid-area: cardAdditional;}

.cardContainer {
    display: grid;
    grid-template-areas: 
        'cardImage cardContent cardOptions'
        'cardImage cardContent cardAdditional';
    ;
    grid-template-columns: 0.6fr 3fr 0.6fr;
    grid-template-rows: 1fr 2fr;
    width: 990px;
    height: 132px;
}

/* .cardContent , .cardOptions , .cardAdditional , .cardImage {
    border: 1px solid #000000;
} */

.cardContent{
    display: grid;
    justify-content: left;
    padding: 5px;
}
.cardImage{
    display: grid;
    justify-content: center;
    align-items: center;
}
.cardAdditional{
    display: grid;
    justify-content: right;
    align-items: end;
    padding-bottom: 8px;
    padding-right: 25px;
}

.cardOptions{
    display: flex;
    justify-content: right;
}