body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #d2dbe8;
    margin: 0;
}

.login-box {
    width: 400px;
    height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-color: #1a4567;
    border-radius: 18px;
    color: white;
    padding: 20px;
    box-sizing: border-box;
}

.title {
    color: #fff;
    font-size: 24px;
    margin-bottom: -6px;
    margin-top: 20px;
}

.paragraph {
    color: #fff;
    font-size: 12px;
    margin-bottom: 20px;
    font-style: italic;
    text-align: center;
}

.input-box {
    width: 100%;
    margin-bottom: 20px;
    position: relative;
}

.input-box input {
    width: 100%;
    padding: 10px 10px 10px 40px;
    border: none;
    border-radius: 8px;
    font-size: 14px;
    box-sizing: border-box;
    background-color: #ebf3f7;
    color: #1a4567;
    border: 1px solid #1a4567;
    text-align: center;
}

.input-box input::placeholder {
    color: #1a4567;
    text-align: center;
}

.icon {
    color: #ffffff;
    font-size: 25px;
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
}

.input-box .icon {
    color: #507485;
}

.input-box .eye-icon {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    color: #1a4567;
    cursor: pointer;
}

.login-button {
    width: 100%;
    padding: 10px;
    background-color: #ffffff;
    color: #1a4567;
    border: none;
    border-radius: 6px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 20px;
    margin-bottom: 20px;
}

button:hover {
    background-color: #b0c4de;
    color: #1a4567;
}

.forgot-password a {
    color: #ffffff;
    font-size: 12px;
    align-self: flex-end;
    margin-top: -20px;
    margin-left: auto;
    margin-bottom: 20px;
}

.error-message {
    color: red;
    font-size: 14px;
    margin-top: 10px;
}

.toggle-button {
    background-color: #1a4567;
    color: white;
    padding: 10px;
    border-radius: 6px;
    text-align: center;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.toggle-button:hover {
    background-color: #b0c4de;
    color: #1a4567;
}