.background-container {
    background-image: url("/uru-web-2-final-project-frontend/frontend/public/background.jpg"); /* Ruta de la imagen */
    background-size: cover; 
    background-position: center; 
    background-attachment: fixed; 
    background-repeat: no-repeat; 
    min-height: 100vh; 
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 50px; 
  }
  